html,
body {
    margin: 0;
    padding: 0;
}

#leftDiv {
    float: left;
    width: 20%;
    height: 100%;
    background-color: #333;
    color: #ffffff;
}

#titleDiv {
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: solid 1px #0E5487;
}

#searchDiv {
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #0E5487;
}

#keyword {
    width: 150px;
    height: 25px;
}

#resultDiv {
    padding-top: 2px;
    overflow: auto;
}

a {
    color: #3385ff !important;
    font-size: 16px;
}

span[data-bind='text: address'] {
    font-size: 13px;
}